<html>
    <body>
        Crea un progetto di tipo <b>Apache OpenOffice UNO component</b>.<br>
        Un componente UNO &egrave; costituito generalmente dall'implementazione di almeno un <b>servizio</b> specificato
        nell'UNO IDL. &Egrave; possibile implementare un servizio esistente di Apache OpenOffice
        e interfacce addizionali, o definirne di nuovi.<br>
        Una procedura guidata consente l'inserimento di informazioni relative alle tipologie implementate, crea
        un nuovo progetto esteso J2SE di libreria di classi, generando i relativi file <b>UNO IDL</b> (se necessario) e un nuovo file schema sorgente 
        in Java per l'implementazione di tutti i metodi generati dalle tipologie IDL.
    </body>
</html>
