<html lang='pt'>
    <body>
        Cria um projeto de <b>Componente UNO do OpenOffice.org</b>.<br>
        Um componente UNO é geralmente uma implementação de ao menos um <b>serviço</b> especificado
        na UNO IDL. Você pode implementar um serviço do OpenOffice.org 
        existente ou interfaces adicionais, ou definir novas.<br>
        Um assistente coleta informações sobre o tipo implementado e, cria um novo projeto de biblioteca de  
        classe J2SE extensível, gera os arquivos da <b>UNO IDL</b> (se necessário) e e gera um arquivo 
        esqueleto fonte Java, implementando todos os métodos gerados pelos tipos IDL.
    </body>
</html>
