--- file: productversion.mk
PRODUCTVERSION
--- file: main/odk/util/makefile.pmk
PRODUCT_RELEASE
--- file: srcrelease.xml
aoo.ver
--- file: minor.mk
RSCVERSION
RSCREVISION=420m1(Build:9800)
BUILD=9800
LAST_MINOR=m1
SOURCEVERSION=AOO420
--- file: openoffice.lst
OOOPACKAGEVERSION
UREPACKAGEVERSION
PRODUCTVERSION
ABOUTBOXPRODUCTVERSION
BASEPRODUCTVERSION
PACKAGEVERSION
UPDATEURL
