--- file: productversion.mk
PRODUCTVERSION
--- file: main/odk/util/makefile.pmk
PRODUCT_RELEASE
--- file: srcrelease.xml
aoo.ver
--- file: minor.mk
RSCVERSION
RSCREVISION=450m1(Build:9900)
BUILD=9900
LAST_MINOR=m1
SOURCEVERSION=AOO450
--- file: openoffice.lst
OOOPACKAGEVERSION
UREPACKAGEVERSION
PRODUCTVERSION
ABOUTBOXPRODUCTVERSION
BASEPRODUCTVERSION
PACKAGEVERSION
UPDATEURL
